argcomplete==1.10.3
astroid==2.9.3
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.8.2
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
compressed-rtf==1.0.6
cryptography==36.0.1
cssselect2==0.4.1
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
fonttools==4.29.1
h11==0.13.0
html5lib==1.1
idna==3.3
IMAPClient==2.1.0
indiginous-parliaments @ file:///Users/curtishendricks/Dropbox/Development/indigenous-parliaments
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==4.7.1
mccabe==0.6.1
numpy==1.22.2
olefile==0.46
outcome==1.1.0
pandas==1.4.1
pdfminer==20191125
pdfminer.six==20191110
Pillow==9.0.1
platformdirs==2.5.0
pycparser==2.21
pycryptodome==3.14.1
pydyf==0.1.2
pylint==2.12.2
pyOpenSSL==22.0.0
PyPDF2==1.26.0
pyphen==0.12.0
python-dateutil==2.8.2
python-pptx==0.6.21
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
selenium==4.1.0
six==1.12.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
textract==1.6.4
tika==1.24
tinycss2==1.1.1
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
weasyprint==54.1
webencodings==0.5.1
wrapt==1.13.3
wsproto==1.0.0
xlrd==1.2.0
XlsxWriter==3.0.2
zopfli==0.1.9
